@{
    ViewBag.Title = "Popular a base de dados";
}

<div class = "conteudoNormal">    
    <h1>Popular a base de dados</h1>

@using (Html.BeginForm())
{
    <p class="submit"><input class = "inputBotao" type="submit" value="Popular a base de dados"/></p>
}

</div>
